*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

body{
    border: 1px solid white;
    background-color: black;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.calculator{
    width: 80vw;
    max-width: 375px;
    height: 350px;
    background-color: #070727;
    padding: 10px;
    border-radius: 10px;
}

.display{
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.display input{
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.buttons{
    width: 100%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.row{
    width: 100%;
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.row button{
    width: 18%;
    height: 80%;
    border-radius: 5px;
}

#equal{
    width: 40%;
}