@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  /* border: 1px solid black; */
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(57, 57, 57, 0.3) 0px 30px 60px -30px;
}

.logo {
  margin: 0px 25px;
  width: 100px;
  /* border: 1px solid brown; */
}

.navItems {
  /* border: 1px solid grey; */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 50px;
}

.navItems ul {
  display: flex;
  list-style-type: none;
}

.navItems ul li {
  padding: 10px;
  margin: 10px;
}

.body {
  display: flex;
  flex-direction: column;
  /* border: 1px solid brown; */
}

.search {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 25px;
  gap: 25px;
}

.searchInput {
  height: 50px;
  width: 40%;
  padding: 15px;
  /* border-radius: 5px; */
}

.searchBtn {
  height: 50px;
  width: 75px;
  background-color: #f26c4a;
  border: none;
  cursor: pointer;
}

.resCard {
  height: 400px;
  width: 200px;
  display: flex;
  flex-direction: column;
  /* border: 1px solid red; */
  gap: 10px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.resImage {  
  width: 100%;
  height: 60%;
  object-fit: cover;
}

.resContainer{
  display: flex; 
  justify-content: center;
  align-items: center;
  margin: 15px;
}

.restraunts{
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

.resName, .resCuisine, .resRating{
  margin-right: 15px;
}

.resDetails{
  padding: 0px 15px 0px 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.filterBtn{
  height: 50px;
  width: 250px;
  background-color: #f26c4a;
  border: none;
  cursor: pointer;
}